@media (max-width: 460px){
  h1 {
    font-size: 3.5rem;
    line-height: 1.2;
  }
}
#main {
  margin: 30px auto;
  padding: 10px;
  border-radius: 5px;
  background: #aaa;
}

@media (max-width: 460px){
  #main {
    margin: 0;
  }
}
